.faded {
  opacity: 0;
  transform: scale(.3);
  /* transform: rotate(360deg); */
  transition: all;
  transition-duration: 1.25s;
  transition-timing-function: ease-in;
}

.fadedIn {
  transition: opacity .2s ease-out, transform .2s ease-out
}